[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
openai = "*"
python-dotenv = "*"
httpx = "*"
metatrader5 = "*"
pytz = "*"
pandas = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
